<script setup lang="ts">
import { reactive, computed } from "vue";
const state = reactive({
  num1: "1",
  num2: "1",
  result: 2,
});
const result = computed(function () {
  return parseInt(state.num1) + parseInt(state.num2);
});
const doAdd = function () {
  state.result = parseInt(state.num1) + parseInt(state.num2);
};
</script>
<template>
  <div id="app" class="div_style1">
    <input
      type="text"
      ref="num1"
      v-model="state.num1"
      style="text-align: center; margin: 5px"
    />
    <div>+</div>
    <input
      type="text"
      ref="num2"
      v-model="state.num2"
      style="text-align: center; margin: 5px"
    />
    <br />
    <input
      type="button"
      name="equl"
      id="equl"
      value="="
      style="margin: 10px; width: 45px"
      @click="doAdd()"
    />
    <div ref="result">{{ state.result }}</div>
    <div>{{ state.num1 }} + {{ state.num2 }} = {{ result }}</div>
  </div>
</template>

<style scoped>
.div_style1 {
  background-color: aquamarine;
  text-align: center;
  width: 300px;
  border-style: solid;
  padding: 10px;
  margin: auto;
}
</style>
