<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import CalComponent from "./components/CalComponent.vue";
import HelloWorldEx from "./components/HelloWorldEx.vue";
import HandlingUserInput from "./components/HandlingUserInput.vue";
import AttributeBlindings from "./components/AttributeBlindings.vue";
import ConditionsAndLoops from "./components/ConditionsAndLoops.vue";
import FormBinding from "./components/FormBinding.vue";
import SimpleComponent from "./components/SimpleComponent.vue";
</script>

<template>
  <div>
    <SimpleComponent />
    <br />
    <FormBinding></FormBinding>
    <br />
    <br />
    <ConditionsAndLoops></ConditionsAndLoops>
    <br />
    <br />
    <AttributeBlindings></AttributeBlindings>
    <HandlingUserInput></HandlingUserInput>
    <CalComponent></CalComponent>
    <HelloWorldEx></HelloWorldEx>
  </div>
</template>

<style scoped></style>
